$tab-flex: dynamic(1);
$tab-background-color: dynamic($base-color);
$tab-active-background-color: dynamic($base-pressed-color);
$tab-background-gradient: dynamic(null);
$tab-active-background-gradient: dynamic(null);
$tab-color: dynamic($reverse-color);
$tab-active-color: dynamic($reverse-color);

$tab-border-color: dynamic(null);
$tab-active-border-color: dynamic(null);
$tab-border-width: dynamic(null);
$tab-border-style: dynamic(null);
$tab-border-radius: dynamic(null);
$tab-border-radius-big: dynamic(null);
$tab-active-box-shadow: dynamic(inset 0 -$content-padding/4 0 0 $accent-light-color);

$tab-font-weight: dynamic($material-body-font-weight);
$tab-font-size: dynamic($material-body-font-size);
$tab-font-size-big: dynamic(null);
$tab-line-height: dynamic(24px);
$tab-line-height-big: dynamic(null);
$tab-padding: dynamic(8px);
$tab-padding-big: dynamic(null);
$tab-icon-size: dynamic(24px);
$tab-icon-size-big: dynamic(null);
$tab-icon-font-size: dynamic($material-subhead-font-size);
$tab-icon-font-size-big: dynamic(null);
$tab-icon-horizontal-spacing: dynamic($content-padding/4);
$tab-icon-horizontal-spacing-big: dynamic(null);
$tab-icon-vertical-spacing: dynamic(0);
$tab-icon-vertical-spacing-big: dynamic(null);
$tab-disabled-opacity: dynamic(1);
$tab-badge-background-color: dynamic($accent-color);
$tab-badge-background-gradient: dynamic(null);
$tab-badge-color: dynamic($color);
$tab-badge-border-color: dynamic(transparent);
$tab-badge-border-radius: dynamic($content-padding * 2);
$tab-badge-min-width: dynamic($content-padding * 2);
$tab-badge-max-width: dynamic(55%);
$tab-badge-font-weight: dynamic($material-caption-font-weight);
$tab-badge-font-size: dynamic($material-caption-font-size);
$tab-badge-line-height: dynamic(normal);
$tab-badge-top: dynamic(-10px);
$tab-badge-right: dynamic(null);
$tab-badge-left: dynamic(0);
$tab-badge-padding: dynamic($content-padding/4);
