$toolbar-title-color: dynamic($color);

$toolbar-title-font-size: dynamic(1rem);
$toolbar-background-color: dynamic($neutral-light-color);

$toolbar-padding: dynamic(0.429rem 0rem);
$toolbar-padding-big: dynamic(0rem);
