/**
 * @class Ext.field.Spinner
 */

.#{$prefix}spinnerfield {
    .#{$prefix}input {
        .#{$prefix}input-el {
            -webkit-text-fill-color: #000;
        }
    }

    &.#{$prefix}item-disabled {
        .#{$prefix}input-el {
            -webkit-text-fill-color: #B3B3B3;
        }

        .#{$prefix}spinnerfield-button {
            color: $spinnerfield-button-disabled-color !important;
            background-color: $spinnerfield-button-disabled-background-color;
        }
    }

    .#{$prefix}spinnerfield-button {
        width: $spinnerfield-button-size;
        height: $spinnerfield-button-size;
        color: $spinnerfield-button-color;
        border-radius: $spinnerfield-button-border-radius;
        margin: 0 ($spinnerfield-button-spacing / 2);

        &.#{$prefix}button-pressed {
            color: $spinnerfield-button-pressed-color;
        }

        @if $enable-big {
            .#{$prefix}big & {
                font-size: $spinnerfield-button-font-size-big;
            }
        }
    }

    .#{$prefix}spinnerfield-button-down {
        @include font-icon($spinnerfield-button-down-icon, $line-height: $spinnerfield-button-size);
        background-color: $spinnerfield-button-down-background-color;

        &.#{$prefix}button-pressed {
            background-color: $spinnerfield-button-down-pressed-background-color;
        }
    }
    .#{$prefix}spinnerfield-button-up {
        @include font-icon($spinnerfield-button-up-icon, $line-height: $spinnerfield-button-size);
        background-color: $spinnerfield-button-up-background-color;

        &.#{$prefix}button-pressed {
            background-color: $spinnerfield-button-up-pressed-background-color;
        }
    }

    &.#{$prefix}field-grouped-buttons {
        .#{$prefix}spinnerfield-button-down {
            // space between buttons
            //margin-right: $spinnerfield-group-button-down-margin-right;
        }
    }
}

.#{$prefix}ie .#{$prefix}spinnerfield .#{$prefix}input .#{$prefix}input-el:disabled {
  color: #000;
}