$radiofield-checkbox-font-size: dynamic(24px);
$radiofield-checkbox-icon: dynamic('radio_button_unchecked' $radiofield-checkbox-font-size);
$radiofield-checked-checkbox-icon: dynamic('radio_button_checked' $radiofield-checkbox-font-size);
