$selectfield-trigger-font-size: dynamic(null);
$selectfield-trigger-font-size-big: dynamic(null);
$selectfield-trigger-size: dynamic(null);
$selectfield-trigger-icon: dynamic(null);
$selectfield-trigger-color: dynamic(null);