$spinnerfield-button-font-size: dynamic(16px);
$spinnerfield-button-font-size-big: dynamic($spinnerfield-button-font-size);
$spinnerfield-button-size: dynamic(24px);
$spinnerfield-button-border-radius: dynamic(50%);
$spinnerfield-button-color: dynamic($reverse-color);

$spinnerfield-button-disabled-color: dynamic($reverse-color);
$spinnerfield-button-disabled-background-color: dynamic($disabled-color);

$spinnerfield-button-up-icon: dynamic('add' $spinnerfield-button-font-size);
$spinnerfield-button-up-background-color: dynamic($confirm-color);
$spinnerfield-button-up-pressed-background-color: dynamic($confirm-pressed-color);

$spinnerfield-button-down-icon: dynamic('remove' $spinnerfield-button-font-size);
$spinnerfield-button-down-background-color: dynamic($alert-color);
$spinnerfield-button-down-pressed-background-color: dynamic($alert-pressed-color);

$spinnerfield-button-spacing: dynamic(8px);
