/**
 * @class Ext.field.Radio
 */

.x-radiofield .x-input-mask {
    &:before {
        @include border-radius(32px);
    }
}

.x-radio:checked ~ .x-input-mask:after {
    position: absolute;
    content: '';
    top: 8px;
    right: 8px;
    width: 16px;
    height: 16px;
    background: #000;
    @include border-radius(22px);
}