.x-dataview-inlineblock {
    > .x-domscroller > .x-dataview-inner {

        // The innerElement must stretch to accommodate the inline-block items
        display: table;
    }
    .x-dataview-item, .x-data-item {
        display: inline-block;
    }
}

.x-dataview-nowrap {
    .x-dataview-container {
        white-space: nowrap !important;
    }
}

.x-dataview-nowrap {
    .x-container.x-dataview {
        white-space: nowrap !important;
    }
}
