/**
 * @class Ext.calendar.form.CalendarPicker
 */

@mixin ext-calendar-calendarpicker(
    $ui: null
) {
    $ui-suffix: ui-suffix($ui);

    .#{$prefix}calendar-picker-list#{$ui-suffix} {
        .#{$prefix}calendar-picker-list-icon {
            width: 1.5em;
            height: 1.5em;
            left: 0.4em;
        }

        .#{$prefix}calendar-picker-list-text {
            padding-left: 1.8em;
        }
    }

    .#{$prefix}calendar-picker-field#{$ui-suffix} {
        .#{$prefix}calendar-picker-field-icon {
            width: 1.5em;
            height: 1.5em;
            left: 0.4em;
        }

        .#{$prefix}input-el {
            padding-left: 2.3em;
        }
    }
}