/**
 * @class Ext.dataview.List
 */

/**
 * @var {color}
 * List item text color
 */
$list-item-color: dynamic($color);

/**
 * @var {color}
 * List item background-color
 */
$list-item-background-color: dynamic($background-color);

/**
 * @var {color}
 * List item border-color
 */
$list-item-border-color: dynamic($neutral-highlight-color null null null);

/**
 * @var {color}
 * List item background-color when pressed
 */
$list-item-pressed-background-color: dynamic(mix(#fff, $base-light-color, 50%));

/**
 * @var {color}
 * List item background-color when selected
 */
$list-item-selected-background-color: dynamic(mix(#fff, $base-light-color, 25%));

/**
 * @var {string/number}
 * List item font-weight
 */
$list-item-font-weight: dynamic($font-weight-normal);

/**
 * @var {number}
 * List item font-size
 */
$list-item-font-size: dynamic(1rem);

/**
 * @var {number}
 * List item font-size in the {@link Global_CSS#$enable-big big} sizing scheme
 */
$list-item-font-size-big: dynamic($list-item-font-size);

/**
 * @var {number}
 * List item line-height
 */
$list-item-line-height: dynamic(1.25em);

/**
 * @var {number}
 * List item line-height in the {@link Global_CSS#$enable-big big} sizing scheme
 */
$list-item-line-height-big: dynamic(1.2);

/**
 * @var {string}
 * List item font-family
 */
$list-item-font-family: dynamic($font-family);

/**
 * @var {number/list}
 * List item padding
 */
$list-item-padding: dynamic(.3em .6em);

/**
 * @var {number/list}
 * List item padding in the {@link Global_CSS#$enable-big big} sizing scheme
 */
$list-item-padding-big: dynamic(.46em .6em);

/**
 * @var {color}
 * Text color for list header rows (in grouped lists).
 */
$list-group-header-color: dynamic($highlight-color);

/**
 * @var {color}
 * Background-color for list header rows (in grouped lists).
 */
$list-group-header-background-color: dynamic($neutral-light-color);

/**
 * @var {color}
 * Border-color for list header rows (in grouped lists).
 */
$list-group-header-border-color: dynamic($grid-column-border-color null $grid-column-border-color null);

/**
 * @var {string/number}
 * List item font-weight
 */
$list-group-header-font-weight: dynamic($font-weight-bold);

/**
 * @var {number}
 * List item font-size
 */
$list-group-header-font-size: dynamic($list-item-font-size);

/**
 * @var {number}
 * List item font-size in the {@link Global_CSS#$enable-big big} sizing scheme
 */
$list-group-header-font-size-big: dynamic($list-group-header-font-size);

/**
 * @var {number}
 * List item line-height
 */
$list-group-header-line-height: dynamic($list-item-line-height);

/**
 * @var {number}
 * List item line-height in the {@link Global_CSS#$enable-big big} sizing scheme
 */
$list-group-header-line-height-big: dynamic($list-item-line-height-big);

/**
 * @var {string}
 * List item font-family
 */
$list-group-header-font-family: dynamic($list-item-font-family);

/**
 * @var {number/list}
 * List item padding
 */
$list-group-header-padding: dynamic($list-item-padding);

/**
 * @var {number/list}
 * List item padding in the {@link Global_CSS#$enable-big big} sizing scheme
 */
$list-group-header-padding-big: dynamic($list-item-padding-big);

// NEW
$list-group-header-border-width: dynamic(1px null 1px null);
$list-group-header-border-style: dynamic(solid null solid null);
$list-group-header-pinned-color: dynamic(null);
$list-group-header-pinned-background-color: dynamic(null);

$list-item-display: dynamic(null);
$list-item-align-items: dynamic(null);

$list-item-border-width: dynamic(1px null null null);
$list-item-border-style: dynamic(solid null null null);

$list-footer-item-border-width: dynamic(null null $neutral-highlight-color null);
$list-footer-item-border-style: dynamic(null null 1px null);
$list-footer-item-border-color: dynamic(null null solid null);

$list-item-selected-color: dynamic(null);
$list-item-pressed-color: dynamic(null);

$list-item-indexed-padding: dynamic(null);

$list-item-disclosure-position: dynamic(absolute);
$list-item-disclosure-right: dynamic(0);
$list-item-disclosure-width: dynamic(1em);
$list-item-disclosure-height: dynamic($list-item-disclosure-width);
$list-item-disclosure-top: dynamic(50%);
$list-item-disclosure-margin: dynamic(-.5em .6em 0 0);
$list-item-disclosure-color: dynamic($neutral-dark-color);
$list-item-disclosure-text-align: dynamic(center);
$list-item-disclosure-icon: dynamic($fa-var-arrow-circle-right 1.24em);
$list-item-disclosure-font-size-big: dynamic(1.2em);

$list-item-disclosure-background-color: dynamic(null);
$list-item-disclosure-border-radius: dynamic(null);
$list-item-disclosure-padding: dynamic(null);
$list-item-disclosure-display: dynamic(null);
$list-item-disclosure-justify-content: dynamic(null);
$list-item-disclosure-align-content: dynamic(null);
$list-item-disclosure-align-items: dynamic(null);
$list-item-disclosure-pressed-color: dynamic(null);
$list-item-disclosure-pressed-background-color: dynamic(null);

$list-item-indexed-disclosure-margin: dynamic(0 1.8em 0 0);

