// Label
.#{$prefix}field-label {
    display: none;
}

.#{$prefix}field-label-nowrap {
    @include ellipsis();
}

//  Ext.field.Field
.#{$prefix}field {
    @include st-box();

    .#{$prefix}input {
        position: relative;
        display: table;
        table-layout: fixed;
    }

    &.#{$prefix}field-labeled > .#{$prefix}field-label {
        display: block;
    }

    .#{$prefix}field-body {
        position: relative;
    }
}
.#{$prefix}field-body {
    @include st-box();
    @include st-box-orient(horizontal);
    @include st-box-align(center);

    .#{$prefix}body-align-start > & {
        @include st-box-pack(start);
    }

    .#{$prefix}body-align-center > & {
        @include st-box-pack(center);
    }

    .#{$prefix}body-align-end > & {
        @include st-box-pack(end);
    }

    .#{$prefix}body-align-stretch > & {
        @include st-box-pack(stretch);
    }
}

.#{$prefix}body-align-stretch {
    .#{$prefix}field-body {
        // just in case the input can't stretch (checkbox/radio)
        @include st-box-pack(center);
    }

    .#{$prefix}input {
        width: 100%;
    }
}

.#{$prefix}label-align-left,
.#{$prefix}label-align-right {
    @include st-box-orient(horizontal, important);
    @include st-box-align(center);

    .#{$prefix}field-body {
        @include st-box-flex(1, 0px);
    }
}

.#{$prefix}label-align-right {
    @include st-box-direction(reverse, row);
}

.#{$prefix}label-align-top,
.#{$prefix}label-align-bottom {
    @include st-box-orient(vertical);
}

.#{$prefix}label-align-bottom {
    @include st-box-direction(reverse, column);
}

.#{$prefix}label-text-align-left {
    text-align: left;
}

.#{$prefix}label-text-align-center {
    text-align: center;
}

.#{$prefix}label-text-align-right {
    text-align: right;
}

.#{$prefix}input-el {
    display: block;
}

.#{$prefix}input-mask {
    @include absolute-fit();
}

.#{$prefix}ie .#{$prefix}field {
    &.#{$prefix}textfield,
    &.#{$prefix}textareafield,
    &.#{$prefix}searchfield {
        .#{$prefix}input-mask {
            z-index: -1;
        }
    }
}

// Required fields
.#{$prefix}field-required .#{$prefix}field-label:after {
    content: "*";
    display: inline;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.#{$prefix}input .#{$prefix}clear-icon, .#{$prefix}input .#{$prefix}reveal-icon {
    display: none;
}

.#{$prefix}field-clearable {
    .#{$prefix}clear-icon {
        display: block;
    }
}

.#{$prefix}field-revealable {
    .#{$prefix}reveal-icon {
        display: block;
    }
}
