$messagebox-background-color: dynamic($background-color);
$messagebox-border-width: dynamic(null);
$messagebox-border-style: dynamic(null);
$messagebox-title-background-color: dynamic($background-color);
$messagebox-border-color: dynamic(null);
$messagebox-border-radius: dynamic(null);
$messagebox-padding: dynamic($content-padding);
$messagebox-title-color: dynamic($color);
$messagebox-footer-background-color: dynamic($background-color);