@include slider-ui(
$height: $slider-height,
$disabled-opacity: $slider-disabled-opacity,
$thumb-size: $slider-thumb-size,
$thumb-border: $slider-thumb-border,
$thumb-border-radius: $slider-thumb-border-radius,
$thumb-background-color: $slider-thumb-background-color,
$thumb-background-gradient: $slider-thumb-background-gradient,
$thumb-disabled-background-color: $slider-thumb-disabled-background-color,
$thumb-dragging-background-color: $slider-thumb-dragging-background-color,
$thumb-dragging-background-gradient: $slider-thumb-dragging-background-gradient,
$thumb-background-clip: $slider-thumb-background-clip,
$thumb-top: $slider-thumb-top,
$thumb-left: $slider-thumb-left,
$track-margin: $slider-track-margin,
$track-border: $slider-track-border,
$track-border-radius: $slider-track-border-radius,
$track-background-color: $slider-track-background-color,
$track-background-gradient: $slider-track-background-gradient,
$track-fill-background-color: $slider-track-fill-background-color,
$track-fill-background-gradient: $slider-track-fill-background-gradient,
$track-fill-disabled-background-color: $slider-track-fill-disabled-background-color,
$track-width: $slider-track-width,
$track-height: $slider-track-height,
$track-top: $slider-track-top,
$track-left: $slider-track-left,
$track-box-shadow: $slider-track-box-shadow
);
