/**
 * @class Ext.field.Field
 */

/**
 * @var {color}
 * Field border-color
 */
$field-border-color: dynamic($neutral-color);

/**
 * @var {color}
 * Field background-color
 */
$field-background-color: dynamic($background-color);

/**
 * @var {number}
 * Field padding
 */
$field-padding: dynamic(0);

/**
 * @var {color}
 * Field label text color
 */
$field-label-color: dynamic($color);

/**
 * @var {color}
 * Field label text color
 */
$field-label-border-color: dynamic($color);

/**
 * @var {color}
 * Field label background-color
 */
$field-label-background-color: dynamic(null);

/**
 * @var {color}
 * Field label padding
 */
$field-label-padding: dynamic(.23em .6em);

/**
 * @var {color}
 * Field label padding in the {@link Global_CSS#$enable-big big} sizing scheme
 */
$field-label-padding-big: dynamic(.2em .6em);

/**
 * @var {string/number}
 * Field label font-weight
 */
$field-label-font-weight: dynamic($font-weight-bold);

/**
 * @var {number}
 * Field label font-size
 */
$field-label-font-size: dynamic(1rem);

/**
 * @var {number}
 * Field label font-size in the {@link Global_CSS#$enable-big big} sizing scheme
 */
$field-label-font-size-big: dynamic($field-label-font-size);

/**
 * @var {number}
 * Field label line-height
 */
$field-label-line-height: dynamic(1.23em);

/**
 * @var {number}
 * Field label line-height in the {@link Global_CSS#$enable-big big} sizing scheme
 */
$field-label-line-height-big: dynamic(1.6em);

/**
 * @var {string}
 * Field label font-family
 */
$field-label-font-family: dynamic($font-family);

/**
 * @var {number}
 * Vertical space in between form fields
 */
$field-vertical-spacing: dynamic(0.385em);

/**
 * @var {number}
 * Vertical space in between form fields in the {@link Global_CSS#$enable-big big} sizing scheme
 */
$field-vertical-spacing-big: dynamic(0.534em);


// --New
$field-item-disabled-color: dynamic(#b3b3b3);

$field-label-focused-color: dynamic(null);
$field-label-disabled-color: dynamic(#aaa);



$field-input-color: dynamic(null);
$field-input-empty-color: dynamic(null);

$field-required-indicator-font-weight: dynamic(null);
$field-required-indicator-font-size: dynamic(null);
$field-required-indicator-line-height: dynamic(null);
$field-required-indicator-font-family: dynamic($font-icon-font-family);

$field-required-indicator-position: dynamic(null);
$field-required-indicator-top: dynamic(null);
$field-required-indicator-padding: dynamic(null);

$field-separator-vertical-spacing: dynamic(null);
$field-separator-vertical-spacing-big: dynamic(null);
